---
import PersianShamseh from './PersianShamseh.astro';
---

<div class="flex items-center justify-center py-4" role="presentation">
  <div class="relative flex w-full max-w-xs items-center justify-center">
    <span class="h-px w-full bg-saffron/30"></span>
    <span class="absolute bg-cream px-4">
      <PersianShamseh size={20} opacity={0.6} />
    </span>
  </div>
</div>
